---
layout: archive
title: "Publications"
permalink: /publications/
lang: en
alternate_url: /zh/publications/
author_profile: true
---

You can also find my work on [Google Scholar](https://scholar.google.com/citations?user=smobxJAAAAAJ&hl=en) and [ORCID](https://orcid.org/0009-0006-6358-7613). An asterisk (*) denotes equal contribution.

{% assign localized_publications = site.publications | where: "lang", "en" | sort: "date" %}
{% for category in site.publication_category %}
  {% assign category_posts = localized_publications | where: "category", category[0] | reverse %}
  {% if category_posts.size > 0 %}
    <h2>{{ category[1].title }}</h2>
    {% for post in category_posts %}
      {% include publication-card.html post=post lang="en" %}
    {% endfor %}
  {% endif %}
{% endfor %}
